/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* header */
    /* general page set header & main */
.h-page-center{
    margin: 0% 15% 0%;
}
/* Title & Subtitle */
.title{
    text-align: center;
    font-size: 32px;
    margin: 2% 0% 3% 0%;
    color: rgb(255, 22, 100);
    
}
.subtitle{
    text-align: center;
}
/* main */
.row{
    margin-top: 5%;
}
.col{
    float: left;
    width: calc(100% / 3);
    height: 100px;
     
}
.card{
    background-color: black;
    margin: 0px 15px;
    box-shadow: 5px 5px 0px rgb(255, 22, 100);
    cursor: pointer;
}
.card:hover{
    zoom: 115%;
}

/* profiles */
.profile-images{
    height: 100px;
    float: left;
}
.profile-info{
    float: left;
    padding-left: 4%;
}
.title-profile, .profession-title-profile{
    color: #fff;
}
.title-profile{
    margin-top: 8%;
}
.profession-title-profile{
    margin-top: 5%;
}
.email{
    display: block;
    margin-top: 5%;
    font-size: small;
    text-decoration: none;
    color: rgb(127, 219, 255);
}